.section_stories {
  position: relative;
  padding: 1rem 0;

  .bg_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: .25;
    overflow: hidden;

    .video_content {
      height: 100%;
      width: 100%;
      object-fit: cover; 
    }
  }

  .store_box {
    position: relative;
    z-index: 9998;
  
    .story {
      margin: 0 auto 1.2rem;
      min-height: 8rem;
      box-shadow: 0 3rem 6rem rgba(0,0,0, .1);
      background-color: rgba(255,255,255, .6);
      border-radius: 3px;
      padding: 3rem;
      padding-left: 7rem;
      transform: skewX(-8deg);
      display: flex;
      flex-direction: column;
      align-items: center;
    
      .story_shape {
          width: 7rem;
          height: 7rem;
          transform: translateX(-3rem) skewX(8deg);
          position: relative;
          overflow: hidden;
          border-radius: 50%;

          @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
              -webkit-clip-path: circle(50% at 50% 50%);
              clip-path: circle(50% at 50% 50%);
              border: 2px solid #7ED56F;
              -webkit-shape-outside: circle(50% at 50% 50%);
              shape-outside: circle(50% at 50% 50%);
              border-radius: none;
          }
      }
    
      .story_img {
          height: 100%;
          transition: all .5s;
      }
    
      .story_text {
          transform: skewX(8deg);

          h3 {
            font-size: 1rem;
          }
  
          p {
            color: gray;
          }

          .store_icon {
            color: gray;

            &:hover {
              color: #7ED56F;
              transition: .2s;
            }
          }
      }
    
      .story_caption {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 20%);
          color: #fff;
          text-transform: uppercase;
          font-size: 1rem;
          text-align: center;
          opacity: 0;
          transition: all .5s;
          backface-visibility: hidden;
      }
    
      &:hover .story_caption {
          opacity: 1;
          transform: translate(-50%, -50%);
      }
    
      &:hover .story_img {
          filter: blur(3px) brightness(80%);
      }
    }
  }

}