.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($lightGreen, .8), 
    rgba($darkGreen, .8)) , 
  url("../src/assets/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &_logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &_logo {
    height: 3.5rem;
  }
  
  &_text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}