.text-center {
  text-align: center;
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

.margin-top-huge {
  margin-bottom: 10rem;
}

.margin-top-big {
  margin-bottom: 8rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}