  .section_book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);

    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url('/assets/nature.jpg');
      background-size: 100%;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

      .book_form {
        width: 50%;
        padding: 6rem;
      }
    }
  }

  @media only screen and (max-width: 56.25em) {
    .section_book {
      padding: 10rem 0;
    }
  }

  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url('/assets/nature.jpg');
      background-size: cover;
    }
  }

  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url('/assets/nature.jpg');
    }
  }

  @media only screen and (max-width: 75em) {
    .book_form {
      width: 65%;
    }
  }

  @media only screen and (max-width: 56.25em) {
    .book_form {
      width: 100%;
    }
  }

  @media only screen and (max-width: 56.25em) {
    .section_book {
      padding: 10rem 0;
    }
  }

  .btn_2 {
    padding: 2rem;

    &:link,
    &:visited {
      text-decoration: none;
      padding: .5rem 2rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all .2s;
      position: relative;
      font-size: 1.6rem;
  
      .icon {
        margin-left: .5rem;
      }
    }
  
    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
    }
  }
  
  .btn_animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
  
  .btn_text {
    &:link,
    &:visited {
      font-size: 1.6rem;
      color: --darkGreen;
      display: inline-block;
      text-decoration: none;
      border-bottom: .1rem solid --darkGreen;
      padding: .3rem;
      transition: all .5s;
      padding: .3rem .5rem;
    }
  
    &:hover {
      background-color: --darkGreen;
      color: --lightGreen;
      box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
      transform: translateY(-.2rem);
  
    }
  
    &:active {
      box-shadow: 0 1rem 1rem rgba(0,0,0, .15);
      transform: translateY(0);
    }
  }

  .btn_green {
    background-color: #28B485;
    color: #FFFFFF;
  }