$lightGreen: #7ED56F;
$mediumGreen: #55C57A;
$darkGreen: #28B485;

$yellow-light: #ffb900;
$yellow-dark: #ff7730;

$blue-light: #2998ff;
$blue-dark: #5643fa;

$black: #000000;
$lightGrey: #F7F7F7;
$greyUltraLight: #eeeeee;
$grey: #777;
$white: #FFFFFF;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;

$font-size16: 1.6rem;