.btn {

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($black, .2);
  }

  &--white {
    background-color: $white;
    color: $grey;

    &:after {
      background-color: $white;
    }
  }

  &--green {
    background-color: $darkGreen;
    color: $white;

    &:after {
      background-color: $darkGreen;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {

  &:link,
  &:visited {
    font-size: 1.6rem;
    color: $darkGreen;
    display: inline-block;
    text-decoration: none;
    border-bottom: .1rem solid $darkGreen;
    padding: .3rem;
    transition: all .5s;
    padding: .3rem .5rem;
  }

  &:hover {
    background-color: $darkGreen;
    color: $lightGreen;
    box-shadow: 0 1rem 2rem rgba($black, .15);
    transform: translateY(-.2rem);

  }

  &:active {
    box-shadow: 0 1rem 1rem rgba($black, .15);
    transform: translateY(0);
  }
}