.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(#7ED56F, .3), 
    rgba(#28B485, .9)) , 
  url("/assets/banner3.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  .skills {
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: .1rem;
  }

  .logo_box {
    display: flex;
    justify-content: space-between;
    
    .link {
      text-decoration: none;
      color: #fff;

      &:hover {
        .heart {
          animation-duration: .2s;
        }
      }

      .heart {
        margin-right: .3rem;
        color: #F31260;
        animation-name: scaleImage;
        animation-iteration-count: infinite;
        animation-duration: .5s;
        -webkit-transition: all 0.9s ease;
        -moz-transition: all 0.9s ease;
        -o-transition: all 0.9s ease;
        transition: all 0.9s ease;
        animation-direction: alternate;
      }
    }
    
    @keyframes scaleImage {
      0%{
        transform: scale(1.3);
      }
      100%{
        transform: scale(1);
      }
    }
  }

  .text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .heading_primary {
      color: #fff;
      text-transform: uppercase;
      backface-visibility: hidden;
      margin-bottom: 3rem;
    
      .heading_main {
        display: block;      
        animation: moveLeftToCenter;
        animation-duration: 5s;
      }
      
      .heading_sub {
        display: block;      
        animation: moveRightToCenter;
        animation-duration: 5s;
      }
    }
  }
}

@keyframes moveLeftToCenter {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  50% {
    opacity: 50%;
    transform: translateX(75px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveRightToCenter {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  50% {
    opacity: 50%;
    transform: translateX(-75px);
  }

  100% {
    transform: translate(0);
  }
}

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    padding: .5rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;

    .icon {
      margin-left: .5rem;
    }
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
}

.btn_animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.btn_text {
  &:link,
  &:visited {
    font-size: 1.6rem;
    color: --darkGreen;
    display: inline-block;
    text-decoration: none;
    border-bottom: .1rem solid --darkGreen;
    padding: .3rem;
    transition: all .5s;
    padding: .3rem .5rem;
  }

  &:hover {
    background-color: --darkGreen;
    color: --lightGreen;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
    transform: translateY(-.2rem);

  }

  &:active {
    box-shadow: 0 1rem 1rem rgba(0,0,0, .15);
    transform: translateY(0);
  }
}

.btn_white {
  background-color: #fff;
  color: #777;

  &:after {
    background-color: #fff;
  }
}

@keyframes moveInBottom{
  0%{
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (min-width: 769px) {
  .link {
    font-size: x-large;
  }
  .logo_box {
    h2 {
      font-size: 2.5rem;
      color: #fff;
    }
  }
  .heading_main {
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 1rem;
  }
  .heading_sub {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing:  2rem;
  }
}

@media (max-width: 768px) {
  .link {
    font-weight: 700;
  }
  .logo_box {
    h2 {
      font-size: 1.3rem;
      font-weight: 900;
      color: #fff;
    }
  }

  .heading_main {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: .5rem;
  }
  .heading_sub {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
  }
  .skills {
    display: none;
  }
}