.header {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(#7ED56F, .6), 
    rgba(#28B485, .9)), 
  url("/assets/banner.jpg");
  background-size: cover;
  background-position: center;

  h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    margin-bottom: 4rem;

    .heading_primary_main {
      display: block;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 1.5rem;
      animation-name: moveLeftToCenter;
      animation-duration: 5s;
    }
    
    .heading_primary_sub {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: .6rem;
      animation-name: moveRightToCenter;
      animation-duration: 5s;
    }
  }
  
  &_text_box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@keyframes moveLeftToCenter {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  50% {
    opacity: 50%;
    transform: translateX(75px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveRightToCenter {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  50% {
    opacity: 50%;
    transform: translateX(-75px);
  }

  100% {
    transform: translate(0);
  }
}